/*
Colors used:
Primary Color (Blue): #3E7AA2;
Secondary Color (Green): #F8F8F8;
*/
* {
  box-sizing: border-box;
}

header {
  background-color: #778899;
  padding: 10px 0 4px;
  box-shadow: 0px 6px 5px 0px rgba(50, 50, 50, 0.75);
  position: fixed;
  width: 100%;
}

main {
  padding-top: 81px;
}

footer {
  background-color: #778899;
  color: #ffffff;
  text-align: center;
  padding: 2em 0;
  margin-top: 20px;
}

footer a {
  color: #ffffff;
}

#hero {
  background-color: #778899;
  color: #ffffff;
  display: inline-block;
  width: 100%;
  text-align: center;
}

#hero span {
  display: block;
  font-weight: 300;
}

nav>ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav>ul>li>a {
  padding: 0 10px;
  text-transform: uppercase;
  text-decoration: none !important;
  font-weight: 700;
  color: #FFFFFF !important
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle, .navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 10px;
  font-size: 20px;
  padding-right: 0;
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}

.navtoggle.responsive li {
  display: block;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 20px;
  padding-right: 20px;
}

.navtoggle.responsive li:last-child {
  padding: 0 0 10px;
}

body {
  background-color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  color: #333333;
}

h1 {
  font-size: 1.75em;
  font-weight: 700;
}

h2 {
  font-size: 1.50em;
  font-weight: 700;
}

h3 {
  font-size: 1.25em;
  font-weight: 400;
}

h4 {
  font-size: 1.15em;
  font-weight: 400;
}

img {
  width: 100%;
}

a {
  color: #3E7AA2;
  display: inline-block;
}

a:visited {
  color: #3E7AA2;
  text-decoration: underline;
}

a:hover,
a:focus {
  color: #333333;
  text-decoration: none;
}

a:active {
  color: #a3a3a3;
}

.button {
  display: inline-block;
  background-color: #3E7AA2;
  color: #ffffff !important;
  text-decoration: none;
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #F8F8F8;
  transition: 0.2s opacity;
}

.button:hover {
  opacity: 0.8;
}

.button.contact {
  background-color: #3E7AA2;
  color: #ffffff;
  text-transform: uppercase;
  border: 1px solid #3E7AA2;
}

.button.contact:hover {
  background-color: #3E7AA2;
  color: #ffffff;
}

/* Layout Styling */
.section {
  padding: 15px;
}

.container {
  padding: 0 15px;
}

.footercontainer {
  margin-top: 15px;
}

.row {
  margin: 25px 0;
  padding: 0 0 25px;
}

.image01 {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.logo {
  max-width: 60px;
}

.p1 {
  text-align: center;
  padding-bottom: 16px;
}

.p2 {
  margin-bottom: 0;
  padding-bottom: 1em;
}

#hero h1 {
  text-align: center;
  padding-top: 1.5em;
  padding-bottom: 1em;
}

#about_page h3 {
  margin-top: 0;
}

#berlin-illustration {
  width: 100%;
  max-width: 100%;
  height: auto;
}

@keyframes color-change {
  0% {
    fill: #ff0000;
  }

  50% {
    fill: #fcffad;
  }

  100% {
    fill: #f76414;
  }
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(200px, 50px);
  }
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }

  to {
    transform: translate(100px, 48px);
  }
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

/* ==============================
Medium devices (640px or larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  nav>ul {
    margin: 1em 0;
  }

  nav>ul>li {
    display: inline-block;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

  .navtoggle.responsive nav {
    padding: 0px 0 0;
  }

  body {
    font-size: 18px;
  }

  h2 {
    text-align: center;
    padding-top: 20px;
  }

  h3 {
    margin-top: 0px;
  }

  main {
    padding-top: 99px;
  }

  .col-md-6 {
    width: 50%;
  }

  [class*="col-"] {
    float: left;
    padding: 16px;
  }
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  header li {
    padding-left: 20px;
    padding-right: 20px;
  }

  .container {
    padding: 0 15px;
    max-width: 1200px;
    margin: 0 auto;
  }

  .col-lg-7 {
    width: 58.33%;
  }

  .col-lg-5 {
    width: 41.66%;
  }
}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {}
